
.app {
    background-color:#242424;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:end;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
}

